@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

:root {
    --transition: all 0.5s ease-out;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow:  0 5px 15px rgba(0, 0, 0, 0.333);
  --max-width: 1170px;
  --fixed-width: 620px;
}
 ul li {
   list-style: none;
 }
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0;
  background: #FAF8F8;
  font-family: 'Sansita Swashed', cursive,'Work Sans', sans-serif; 
}
/* 
  Nav section
*/
.nav {
  background: linear-gradient(267.09deg, #000000 47.58%, rgba(255, 255, 255, 0) 100%), #302C2C;
    margin: 0;
    position: sticky;
    top:0;
    padding: 1rem;
    color: white;
    box-shadow: var(--dark-shadow);
    display: flex;
    justify-content: space-around;
    z-index: 9;
}
.search-icon {
  display: inline;
  padding-right: .5rem;
  width: 10px;
}
.display-result {
  visibility: hidden;
  position: absolute;
  max-height: 90vh;
  z-index:999;
  overflow: overlay;
}
.show-display-result {
  visibility: visible;
  width: 11rem;
  padding:initial;
  border: 1px solid rgb(15, 0, 27);
  border-radius: .3rem;
  background: white;
  color: rgba(17, 17, 17, 0.802);
}
.display-li {
  padding: .5rem;
  cursor: pointer;
}
.display-li:hover {
  background: rgba(19, 18, 18, 0.185);
}

.search {
    padding: .58rem;
    border-radius: .3rem;
    border: none;
    position: relative;
    top: 1rem;
    background: rgb(222, 215, 220);
}
/* 
 Quotes section
*/
.quotes-container {
    height: 100vh;
    display: grid;
    justify-items: center;
    place-content: center;
    line-break: auto;
    word-spacing: 3px;
    text-align: center;
    background: linear-gradient(240.37deg, #000000 7.11%, rgba(255, 255, 255, 0) 99.31%), linear-gradient(180deg, #211C1C 0%, rgba(255, 255, 255, 0) 100%), #413737;
    color: #a19b9b;
}
.quote-text {
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 0.18em;
    color: #FEF6F6;
}
/* 
movie Character section
*/
.continer {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    gap:2rem;
    box-decoration-break: clone;
  flex-wrap: wrap;
  margin-top: 2rem; 
  padding: 0 3rem;
}
.card-container {
    min-width:100%;
    margin:1rem 0;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    transition: var(--transition);
  }
  .card-container:hover figure {
    box-shadow: 0px 2px 5px rgba(174, 152, 193, 0.555);
  }
  .img-container {
      margin:0;
      padding: 0;
      overflow: hidden;
      border-radius: 10px;
  }
  img {
      width: 100%;
      margin: 0;
      display: block;
  }
  .card-img {
    height: 50%;
    object-fit: contain;
    cursor: pointer;
  }
  .figure {
      height: 100%;
    border: 0 solid transparent;
    border-radius: 10px;
    background: linear-gradient(200.19deg, #2B2727 0%, rgba(255, 255, 255, 0) 100%), #463c3cb9;
    overflow: hidden;
    transition: var(--transition);
  }
  figure:hover img {
      transform: scale(1.1);
  }
  figcaption {
    padding: 2rem;
    font-size: 18px;
    line-height: 176.5%;
    /* or 32px */
    color:#FEF6F6;
    letter-spacing: 0.18em;
  }
  figcaption > h4:first-child {
    cursor: pointer;
  }
  .item-text {
    font-weight: 200;
  }

  /* footer */ 
  .footer {
      position: relative;
      bottom: 0;
      padding: 2rem;
      background: linear-gradient(267.09deg, #000000 47.58%, rgba(255, 255, 255, 0) 100%), #302C2C;
     color:white;
  }
  .footer > div {
      display: grid;
      justify-content: center;
      font-size: 2em;
  }
  @media screen and (min-width:765px) {
    .continer {
      display: grid;
      grid-template-columns: auto auto;
    }
       .card-container {
          min-height: 15rem;
      }
  }
  @media screen and (min-width:1444px) {
    .continer {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
      .card-container {
          min-height: 15rem;
      }     
  }
